
@media (max-width: 575.98px) {

    body{
        margin: 0;
    }

    h2 {
        font-size: 40px;
    }

    /***** NAVBAR *****/
   
    #navbar {
        color:red;
    }

    .navbar {
        background-color: #4D4D4D;
        height: 75px;
        width: auto;
        left: 19px;
        right: 19px;
        position: fixed;
        margin: 38px 0 0 0;
        z-index: 2;
    }

    .collapse {
        margin-left: -250px;
    }

    .navbar-logo {
        left: 35px;
    }

    .navbar-logo1 {
        display: none;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    
    /***** PRE LAUNCH *****/

    .text {
        font-size: none;
    }

    /***** INDEX *****/

    #preLaunchHome {
        margin: 0 50px;
    }

    .line-blur-image {
        left: -100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 600px;
        height: auto;
    }

    #homepage {
        background-color: #e4e5e8;
        border-radius: 20px;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        top: 125px;
    }

    .homepage-text {
        text-align: center;
    }

.carousel-control-next-icon5 {
    display: block;
}

.carousel-control-prev-icon5 {
    display: block;
}

    #AboutHP {
        padding: 100px -50px 0px -50px;
        margin: 0 -50px;
    }

    #LineHP {

        padding: 75px 0;
        margin-top: 100px;
    }

    .text1 {
        top: -220px;
        text-align: center;
    }


    .launch2-image {
        display: none;
    }
    
    .launchIG2-image {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 150px;
        }




    /***** ABOUT ME *****/

    #aboutUs {
        padding: 0px 50px 200px 50px;
        top: 125px;
    }

    .abouttitle {
        text-align: center;
    }
    
    .logo-icon {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        right: 30px;
    }



    /***** Line Products *****/

    .buyNow-button1 {
        right: 39px;
        top: 120px;
    }

    #Line-Colours {
        padding-top: 0px;
        padding-bottom: 0px;
    }

 

    /***** APP LIST *****/

    #App-List-Icons {
        background-color: #E6E6E6;
        border-radius: 20px;
        margin: 20px 0px;
        padding: 25px 30px;
        display: block;
    }

    .AppList-Icons-Image {
        margin: 25px 30px;
    }

    .appListContainer {
        position: relative;
        margin: 0 auto;
    }

    figure {
        font-size: x-small;
    }


        /* Wallpapers */

        #WallpaperHome {

            top: 125px;

        }

        #LineBuyNow {
            margin-left: 50px;
            margin-right: 50px;
        }


        /* New Line */

        .LineColourTexts {
            text-align: center;
            padding-top: 120px;
            padding-left: 50px;
        }

        .lineColourImage {
            width: 100%;
            padding-top: 70px;
            padding-bottom: 70px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 50px;
        }

        #LineBody {

            margin-left: 0px;
            margin-right: 0px;
        }

        .lineMContainerSmall1 {
            background-color: white;
            border-radius: 20px;
            width: 90%;
            margin: 10px auto;
        }

        .lineMContainerSmall {
            background-color: white;
            border-radius: 20px;
            width: 90%;
            margin: 10px auto;
        }

        .LineMultiColourBody {
            background-color: #e4e5e8;
            border-radius: 20px;
            text-align: center;
            padding: 0 0px 100px;
        }

        #LineProHeader {
            background-color: #353a3e;
            border-radius: 20px;
            position: relative;
            top: 120px;
            margin-left: 19px;
            margin-right: 19px;
            margin-bottom: 50px;
            text-align: center;
        }

}