
@media (max-width: 575.98px) {

    body{
        margin: 0;
    }

    h2 {
        font-size: 50px;
    }

    /***** NAVBAR *****/
   
    .navbar {
        background-color: #4D4D4D;
        height: 75px;
        width: auto;
        left: 250px;
        right: 38px;
        position: fixed;
        margin: 38px 0 0 0;
        z-index: 2;
    }

    .navbar-collapse {
        margin-left: -250px;
    }

    .navbar-logo {
        left: 5px;
    }

    
    /***** PRE LAUNCH *****/

    .text {
        font-size: none;
    }

    /***** INDEX *****/

    #preLaunchHome {
        margin: 0 50px;
    }

    .line-blur-image {
        left: -100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 600px;
        height: auto;
    }

    #homepage {
        background-color: #E6E6E6;
        border-radius: 20px;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .homepage-text {
        text-align: center;
    }

    #AboutHP {
        padding: 100px -50px 0px -50px;
        margin: 0 -50px;
    }

    #LineHP {
        background-color: #E6E6E6;
        border-radius: 20px;
        padding: 75px 0;
        margin-top: 100px;
    }

    .text1 {
        top: -220px;
        text-align: center;
    }


    /***** ABOUT ME *****/

    #aboutUs {
        padding: 100px 50px 200px 50px;
    }

    .abouttitle {
        text-align: center;
    }
    
    .logo-icon {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        right: 30px;
    }



    /***** Line Products *****/

    .buyNow-button1 {
        right: 39px;
        top: 120px;
    }

    #Line-Video {
        padding-top: 50px;
    }

    #Line-Colours {
        padding-top: 0px;
        padding-bottom: 0px;
    }



    /***** APP LIST *****/

    #App-List-Icons {
        background-color: #E6E6E6;
        border-radius: 20px;
        margin: 20px 0px;
        padding: 25px 30px;
        display: block;
    }

    .AppList-Icons-Image {
        margin: 25px 30px;
    }

    .appListContainer {
        position: relative;
        margin: 0 auto;
    }

    figure {
        font-size: x-small;
    }

}